@defer (on viewport) {<div class="pokemon_card" (click)="onFocusPokemon(pokemon.crie)">
    <img [src]="pokemon.imageFrontDefault" alt="pokemon image" id="pokemon_image">
    <div class="pokemon_card_info">
        <img id="pokeball_icon" [src]="pokeballIcon" alt="pokeball icon">
        <div class="pokemon_info">
            <h2>{{pokemon.pokedexId}}<br/>{{pokemon.frenchName}}</h2>
        </div>
    </div>
</div>}
@placeholder {<div class="pokemon_card">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png" alt="pokemon image" id="pokemon_image">
    <div class="pokemon_card_info">
        <img id="pokeball_icon" [src]="pokeballIcon" alt="pokeball icon">
        <div class="pokemon_info">
            <h2>#???<br/>????</h2>
        </div>
    </div>
</div>}


    

