.pokemon_card {
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    border-right: 2px solid black;

    &:hover {
        background-color: rgb(202, 202, 202);
        cursor: pointer;
    }

    &:active img {
        animation-name: shake;
        animation-duration: 1.2s;
    }
}

@keyframes shake {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(15deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-15deg);}
    100% {transform: rotate(0deg);}
}

.pokemon_card_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#pokeball_icon {
    object-fit: cover;
    width: 5vw;
    height: 5vw;
    grid-column-start: 1;
    grid-column-end: 3;

    @media screen and (orientation: portrait) {
        width: 8vh;
        height: 8vh;
    }
}

.pokemon_info h2 {
    font-family: "VT323", monospace;
    font-weight: 500;
    font-size: 2.5vw;
    font-style: normal;

    @media screen and (orientation: portrait) {
        font-size: 4vh;
    }
}