.pokemon_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1vw;
}

.pokemon_card {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
    border-left: 2px solid black;

    &:hover {
        background-color: rgb(202, 202, 202);
        cursor: pointer;
    }
}

.pokemon_card_info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#pokeball_icon {
    object-fit: cover;
    width: 5vw;
    height: 5vw;
    grid-column-start: 1;
    grid-column-end: 3;
}

.pokemon_info h2 {
    font-family: "VT323", monospace;
    font-weight: 500;
    font-size: 2.5vw;
    font-style: normal;
}
