<section class="pokemon_list">
    <div *ngFor="let pokemon of PokemonData; track pokeIndex" class="pokemon_card">
        <img [src]="pokemon.imageFrontDefault" alt="pokemon image">
        <div class="pokemon_card_info">
            <img id="pokeball_icon" [src]="pokeballIcon" alt="pokeball icon">
            <div class="pokemon_info">
                <h2>{{pokemon.pokedexId}}<br/>{{pokemon.frenchName}}</h2>
            </div>
        </div>
        <div class="pokemon_modal">
            <img [src]="pokemon.imageFrontDefault" alt="pokemon image">
            <p>Taille: {{pokemon.height}}m<br/>Poids: {{pokemon.weight}}kg</p>
            <img [src]="pokemon.type1Img" alt="pokemon type {{pokemon.type1}}">
            <img [src]="pokemon.type2Img" alt="pokemon type {{pokemon.type2}}" onerror="this.style.display='none'">
        </div>
    </div>
</section>