<div class="pokefocus_card">
    <div class="pokefocus_card_navigation">
        @if (pokemon){<button 
            (click)="navigateToPreviousPokemon(pokemon.pokeIndex!.toString())" [attr.disabled]="pokemon.pokeIndex === 1 ? true : null">Précédent</button>}
        @if (pokemon){<button
            (click)="navigateToNextPokemon(pokemon.pokeIndex!.toString())" [attr.disabled]="pokemon.pokeIndex === 1008 ? true : null">Suivant</button>}
    </div>
    <div class="pokefocus_card_left">
        <div class="pokefocus_card_first_info_on_portrait">
            <img id="pokeball_icon" [src]="pokeballIcon" alt="pokeball icon">
            <div class="pokemon_info">
                <h2>{{pokemon.pokedexId}}<br />{{pokemon.frenchName}}</h2>
            </div>
            <div class="pokefocus_card_morpho">
                <h2><span>Taille: </span>{{pokemon.height}}m<br><span>Poids: </span>{{pokemon.weight}}kg</h2>
            </div>
        </div>
        <div class="pokefocus_card_img">
            @if(isChecked === true){<img [src]="pokemon.imageFrontDefault" alt="pokemon image" id="doesnt_shake">}
            @if(isChecked === false){<img [src]="pokemon.imageFrontShiny" alt="pokemon image" id="doesnt_shake">}
            @if (pokemon.crie) {<button class="crie_button" (click)="onCrie(pokemon.crie)">cri</button>}
            <div class="shiny_selector"><input type="checkbox" id="shiny_toggle" (click)="showShinyIcon()">
                <label for="shiny_toggle"><img id="chroma_logo"
                        src="https://github.com/EnguerranSGG/Pokedex_Project/blob/main/src/assets/images/shiny_logo.png?raw=true" /><img
                        id="chroma_logo_checked"
                        src="https://github.com/EnguerranSGG/Pokedex_Project/blob/main/src/assets/images/shiny_logo.png?raw=true" /></label>
            </div>
        </div>
    </div>

    <div class="pokefocus_card_right">
        <div class="pokefocus_card_first_info">
            <img id="pokeball_icon" [src]="pokeballIcon" alt="pokeball icon">
            <div class="pokemon_info">
                <h2>{{pokemon.pokedexId}}<br />{{pokemon.frenchName}}</h2>
            </div>
            <div class="pokefocus_card_morpho">
                <h2>Taille: {{pokemon.height}}m<br>Poids: {{pokemon.weight}}kg</h2>
            </div>
        </div>
        <div class="pokefocus_card_types_info">
            <img [src]="pokemon.type1Img" alt="pokemon type {{pokemon.type1}}">
            <img [src]="pokemon.type2Img" alt="pokemon type {{pokemon.type2}}" onerror="this.style.display='none'">
        </div>
    </div>
    <div class="pokefocus_card_bottom">
        <p>{{pokemon.frenchName}} est un pokemon <span id="mythical">{{pokemon.isMythical ? 'mythique' :
                ''}}</span><span id="legendary">{{pokemon.isLegendary ?
                "légendaire" : ''}}</span> de la {{pokemon.generation}} génération.<br><br>

            "{{pokemon.description}}"</p>
    </div>
</div>